*{
    box-sizing: border-box;
    margin: 0;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.home{
    min-height: 100vh;
    background-image: url("1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

@media(max-width: 991px){
    .home .home-content .block h1{
        font-size:50px;
    }
}
@media(max-width:767px){
    header{
        padding: 15px;
        position: fixed;
        background-color: white;
    }
    .navigation{
        position: absolute;
        background-color: white;
        width: 100%;
        left: 0px;
        top: 50px;
        padding: 15px;
        display: none;
    }
    header .brand-name a{
        color: black;
    }
    header .navigation ul li{
        display: block;
        margin-left:0px;
    }
    header .navigation ul li a{
        line-height: 42px;
    }
    .navigation.show{
        display: block;
    }
    .about-me .about-content .text{
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0px;
    }
    .ham-burger .fa{
        display: inline-block;
    }
}
.ham-burger .fa{
    font-size: 30px;
    color: black;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
}

/*------------HEADER-------------*/

header{
    top: 0;
    right: 0;
    left: 0;
    padding: 0px 15px;
    border-bottom: 1px solid #999999;
    z-index: 10;
    position: absolute;
}
header.fixed {
    background-color: rgb(246, 246, 246);
    position: fixed;
}

header .row{
    justify-content: space-between;
    align-items: center;
}
header .navigation ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
header .navigation ul li{
    display: inline-block;
    margin-left: 40px;
}
header .navigation ul li a{
    font-size: 20px;
    text-decoration: none;
    line-height: 80px;
    color: black;
    display: block;
    font-weight: 600;
    position: relative;
}
header .navigation ul li a::before{
    content: '';
    height: 3px;
    background-color: black;
    width: 0%;
    position: absolute;
    right: 0px;
    bottom: -1px;
    transition: all .5s ease;
}
header .navigation ul li a:hover::before{
    width: 100%;
    left:0;
}
header .brand-name a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 800;
    color:black;
    text-transform: uppercase;
    position: relative;
}

header .brand-name img{
    height: 50px;
    width: 50px;
    float: left;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.container{
    max-width: 1140px;
    margin: auto;
}

.home .full-screen {
    min-height: 100vh;
}

.home .home-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.home .home-content .block{
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 25px;
    border-left: 5px solid;
    
}
.home .home-content .block h6{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;

}
.home .home-content .block h1{
    color: white;
    font-size: 60px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    
}
.home .home-content .block h3{
    color: white;
    font-size: 25px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}


/*--------------ABOUT ME------------*/

.about-me{
    padding: 100px;
    background-color: white;
}
.about-me .section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}
.about-me .section-title h1{
    display: inline-block;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600px;
    margin: 0 0 10px;
    position: relative;
    padding-bottom: 5px;
}
.about-me .section-title h1::before{
    content: '';
    left: 0;
    height: 2px;
    right: 20%;
    background-color: #febd01;
    bottom: 0px;
    position: absolute;
}
.about-me .section-title p.p{
    display: block;
    font-size:14px;
    color: gray;
    font-weight: 500;
    text-transform: uppercase!important;
    letter-spacing: 1.5px;
}
.about-me .about-content .img{
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.about-me .about-content .img img{
    width: 90%;
    display: block;
}
.about-me .about-content .text{
    flex: 0 0 66.66%;
    max-width: 66.66%;
    padding-left: 40px;
}
.about-me .about-content .text h4{
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 10px;
}
.about-me .about-content .text h6{
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 5px;
}
.about-me .about-content .text h6 span{
    color: red;
}
.about-me .about-content .text p{
    display: block;
    font-size:14px;
    color: gray;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 24px;
}
.about-me .about-content .text .info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.about-me .about-content .text .info .label-list{
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
    margin-top: 10px;
    border-bottom: 1px solid ;
    padding: 5px;
}
.about-me .about-content .text .info .label-list label{
    padding-right: 10px;
    color: black;
    font-weight: 600;
    font-size: 20px;
}
.about-me .about-content .text .info .label-list p{
    margin: 0;
}

/*-------PORTFOLIO-----------*/
.portfolio{
    padding: 100px 15px;
}
.portfolio .section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
    text-align: center;
}

.portfolio .section-title h1{
    display: inline-block;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600px;
    margin: 0 0 10px;
    position: relative;
    padding-bottom: 5px;
}
.portfolio .section-title h1::before{
    content: '';
    left: 0;
    height: 2px;
    right: 20%;
    left: 20%;
    background-color: #febd01;
    bottom: 0px;
    position: absolute;
}

.portfolio .portfolio-gallery {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio .portfolio-gallery .item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    position: relative;
}

.portfolio .portfolio-gallery .item img{
    width: 90%;
    height: 90%;
    display: block;
}
.portfolio .portfolio-gallery .item .overlay{
    position: absolute;
    height: 90%;
    width: 90%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    z-index: 10;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .5s ease;
}
.portfolio .portfolio-gallery .item:hover .overlay{
    opacity: 1;
}
.portfolio .portfolio-gallery .item .overlay .fa{
    height: 50px;
    width: 50px;
    background-color: #febd01;
    color: white;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    
}
.portfolio .portfolio-gallery .item:hover .overlay .fa{
    animation: galleryIcon .8s ease;
}
@keyframes galleryIcon {
    0%{
        transform: translateY(-20px);opacity:0;
    }
    100%{
        transform: translateY(0);opacity:1;
    }
}
.portfolio .portfolio-gallery .item .overlay h4{
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-top: 15px;
    
}
.portfolio .portfolio-gallery .item:hover .overlay h4{
    animation: galleryText .8s ease;
}
@keyframes galleryText{
    0%{
        transform: translateY(20px);opacity:0;
    }
    100%{
        transform: translateY(0);opacity:1;
    }
}

/*---------------zoom in image---------------*/

.lightbox {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}
.lightbox.show{
    display: flex;
}
.lightbox.hide{
    display: none;
}
.lightbox .close-lightbox{
    height: 40px;
    width: 40px;
    background-color: white;
    text-align: center;
    line-height: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 102;
    color: #febd01;

}
.lightbox img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}




/*------GALLERY---------*/

.images .my-gallery {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
}

.images .my-gallery .my-image{
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.images .my-gallery .my-image img{
    width: 100%;
    height: 100%;
    display: block;
}


.section-gallery{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
    text-align: center;
}

.section-gallery h1{
    display: inline-block;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600px;
    margin: 0 0 10px;
    position: relative;
    padding-bottom: 5px;
}
.section-gallery h1::before{
    content: '';
    left: 20%;
    height: 3px;
    right: 20%;
    background-color: #febd01;
    bottom: 0px;
    position: absolute;
}


/*------FOOTER---------*/
footer{
    padding: 10px 50px;
    background-color: #0c0c17;
}

footer .logo{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    font-size: 50px;
    color: white;
    font-weight: 800;
}
footer .socialmedia-link {
    flex: 0 0 100%;
    max-width: 100%;
    font-size: 30px;
    text-align: center;
}
footer .socialmedia-link a {
    color: #999999;
    display: inline-block;
    text-decoration: none;
    margin: 6px 10px;
    transition: all .5s ease;
}
footer .socialmedia-link a:hover {
    color: white;
}
footer .copyright {
    color: #999999;
    text-decoration: none;
    margin: 6px 10px;
    font-size: 14px;
    padding-top: 50px;
}